<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.override011.scan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".qrcodes"/>
        <activity android:name=".PdfActivity" />
        <activity android:name=".Nav_ocr" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".MultiPageActivity" />
        <activity android:name=".Intro.IntroActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="barcode" />
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <!--
                <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr" />
            -->

        </activity>
        <activity
            android:name=".ocr.MainActivityOcr"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="ocr" />
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppThemeSearch">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!--
  <activity
            android:name=".OCRActivity"
            android:parentActivityName=".MainActivity" />
        -->
        <!--
<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.override011.scan.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>